

#block_topLeft{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

#block_topRight{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;

}

#block_bottomLeft{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;

}

#block_bottomRight{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;

}